/*---BASE---*/
*{
    margin: 0px;
    margin-top: 0%;
    padding:0px;

    color: var(--text-color);
}

html, body {
  height: 100%;
  margin: 0;             
  display: flex;
  flex-direction: column; 
}

body{
    background-color: var(--base-color);
}

button{
    cursor: pointer;
}

input{
    cursor: pointer;
    color: var(--text-color-dark);
}


/*Animations*/

@keyframes spinAnimation{
            from {
                transform: rotate(0deg);
            }

            to{
                transform: rotate(360deg);
            }
        }

    
    
/*---COLORS---*/

:root {

    --base-darker: hsl(from var(--base-color) h s calc(l - 10));
    --base-dark: hsl(from var(--base-color) h s calc(l - 5));
    --base-color:hsl(0, 0%, 13%);
    --base-light: hsl(from var(--base-color) h s calc(l + 10));
    --base-lighter: hsl(from var(--base-color) h s calc(l + 20));


    --accent-darker: hsl(from var(--accent-color) h s calc(l - 20));
    --accent-dark: hsl(from var(--accent-color) h s calc(l - 10));
    --accent-color: rgb(98, 0, 234);
    --accent-light: hsl(from var(--accent-color) h s calc(l + 10));
    --accent-lighter: hsl(from var(--accent-color) h s calc(l + 20));


    --text-color: rgb(255, 255, 255);
    --text-color-dark: rgb(0, 0, 0);
}


/*---HEADER---*/

header{
    background-color: var(--base-dark);
}

.djbank-title h1{
    color: var(--accent-color);
}

.djbank-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

#djIcon:hover{
    animation-name: spinAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}


/*---MAIN---*/

main{
    margin-top: 5%;
}


/*Overview*/

.overview{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;

    background-color: var(--base-light);
}

.balance{
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--base-lighter) ;
}


/*Send/Request Window*/

.sendRequestWndw{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
}

.sendWndw{
    display: none;
    padding: 1%;

    height: 30%;
    width: 40%;

    background-color: var(--base-light);
}

.sendInput{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 1%;
}

.requestWndw{
    display: none;
    padding: 1%;

    height: 30%;
    width: 40%;

    background-color: var(--base-light);
}

.requestInput{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 1%;
}

.sendRequestWndw input{
    background-color: var(--base-light);
    color: var(--text-color);
    border: none;
}

.sendRequestWndw input:hover{
    transform: scale(1.1, 1.5);
    filter: contrast(150%);
}


/*---FOOTER---*/

footer{
    position: fixed;

    width: 100%;
    height: 15%;
    
    margin-top: 65%;
    padding-top: 1% ;

    background-color: var(--base-light);
}

.openButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: auto;
    width: 100%;
}

.openBtn{
    height: auto;
    width: 45%;
    
    padding: 20px;
    
    border: none;
    border-radius: 5px;
    
    background-color: var(--accent-light);
    color: var(--text-color);
}

.openBtn:active{
    transform: scale(0.9);
}